.Cart {
  display: flex;
  justify-content: flex-end;
  gap: 24px;
  padding: 20px;
}

.Cart-info,
.Cart-text,
.Cart-data {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Cart-info {
  gap: 14px;

  margin: 0;
  padding: 0;
}

.Cart-text {
  font-size: 18px;
}

.Cart-data {
  font-size: 18px;
  font-weight: 700;
}
