.Item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.Item-code {
  padding: 20px 10px 20px 20px;
}

.Item-title,
.Item-price {
  flex-grow: 1;
  padding: 20px 10px;
}

.Item-price,
.Item-quantity {
  font-size: 18px;
  text-align: end;
  color: #404040;
}

.Item-quantity {
  min-width: 80px;
  padding: 20px 10px;
}

.Item-actions {
  display: flex;
  justify-content: flex-end;
  padding: 20px 20px 20px 14px;
}
