.Controls {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}

.Controls-cart,
.Controls-text,
.Controls-data {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Controls-text {
  margin-right: 14px;
  font-size: 18px;
}

.Controls-data {
  margin-right: 24px;

  font-size: 18px;
  font-weight: 700;
}
